.login-page {
  max-width: 500px;
  width: 80%;
  /* background-color: lightseagreen; */
  margin: 30px auto;
  color: #444;
  padding: 0 15px;
}

.login-page h2 {
  text-transform: uppercase;
  font-size: 2rem;
  margin: 20px 0;
  letter-spacing: 1.5px;
}

.login-page form input {
  width: 100%;
  height: 45px;
  border: 2px solid #777;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  margin: 10px 0;
  font-size: 15px;
}

.login-page .btns {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.login-page .btns button {
  padding: 3px 13px;
  border-radius: 5px;
  width: 150px;
  color: white;
  background-color: black;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-right: 10px;
}

.login-page p {
  margin: 10px 0;
}

.btns a {
  padding: 3px 13px;
  border-radius: 5px;
  color: crimson;
}
.btns button:hover {
  transform: scale(1.1);
}

.btns a:hover {
  transform: scale(1.1);
}
