.login-page {
  max-width: 500px;
  width: 80%;
  /* background-color: lightseagreen; */
  margin: 30px auto;
  color: #444;
  padding: 0 15px;
}

.login-page h2 {
  text-transform: uppercase;
  font-size: 2rem;
  margin: 20px 0;
  letter-spacing: 1.5px;
}

.login-page form input {
  width: 100%;
  height: 45px;
  border: 2px solid #777;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  margin: 10px 0;
  font-size: 15px;
}

.login-page .btns {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.login-page .btns button {
  padding: 3px 13px;
  border-radius: 5px;
  width: 150px;
  color: white;
  background-color: black;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-right: 10px;
}

.login-page p {
  margin: 10px 0;
}

.btns a {
  padding: 3px 13px;
  border-radius: 5px;
  color: crimson;
}
.btns button:hover {
  transform: scale(1.1);
}

.btns a:hover {
  transform: scale(1.1);
}

/* ------forgot password-------- */

.fg_pass h2 {
  color: #555;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  margin: 50px auto;
  letter-spacing: 1.3px;
}

.fg_pass .row {
  max-width: 500px;
  margin: 20px auto;
  padding: 0 10px;
}

.fg_pass .row input {
  width: 100%;
  height: 45px;
  border: 1px solid #ccc;
  outline: none;
  padding: 0 15px;
  border-radius: 3px;
  margin: 5px auto;
}

.fg_pass .row button {
  background-color: #333;
  color: white;
  padding: 10px 30px;
  border-radius: 3px;
  letter-spacing: 1.3px;
  margin-top: 15px;
}

/* ------gb google login-------- */

.login-page .login_with {
  margin-top: 35px;
  color: crimson;
}

.login-page .social button {
  width: 100%;
  margin: 10px 0;
  height: 50px;
  font-size: 14px;
  font-weight: 250;
  text-transform: capitalize;
  letter-spacing: 1.3px;
  box-shadow: 0 2px 4px #777;
}
